[worldserver]

###########################
#  EncounterResetCDs
###########################


###############################################################################
#
#   Enable the module? (1: true | 0: false)
#
#
EncounterResetCDs.Enable = 1


