[worldserver]

###################################################################################################
#	CONGRATS ON LEVEL-UP
###################################################################################################

# Enable the module? (1: true | 0: false)

Congrats.Enable = 1

# Enable the Per level congratulations announcement (1: true | 0: false)
CongratsPerLevel.Enable = 0

# Announce the module when the player logs in?

Congrats.Announce = 0

# Set what the player receives at each level
# M: Gold 
# S: SpellID to be cast on the player
# 1: First ItemID to be given to the player
# 2: Second ItemID to be given to the player

# Level 80
# 100 Gold / Blessing of Kings
# Cuergo's Gold with Worm / Haunted Momento    /  43951 = Bronze Drake
Congrats.L80M = 500
Congrats.L80S = 0
Congrats.L801 = 43951
Congrats.L802 = 0
